{% extends "layout.html" %} {% block title %}Blog Create | Here{% endblock %} 

{%block content %}

<h1 class='text-xl mt-8 sm:text-4xl text-orange-400 text-center'>Hello {{user.username|capfirst}} Create Your Blog Here</h1>

<div class="bg-white border-4 rounded-lg shadow relative m-10">
  <div class="p-5 border-b flex justify-between rounded-t">
    <h3 class="text-xl font-semibold text-center">Create Blog</h3>
    <a href="{% url "index" %}"><i class='bx bx-x bx-tada text-2xl' ></i></a>
  </div>

  <div class="p-6 space-y-6">
    <form method='post' enctype="multipart/form-data">
      {% csrf_token %}
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-3">
          <label
            for="Title"
            class="text-sm font-medium text-gray-900 block mb-2"
            >Title</label
          >
          {{form.title}}
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label
            for="heading2"
            class="text-sm font-medium text-gray-900 block mb-2"
            >heading2</label
          >
          {{form.heading2}}
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label
            for="heading3"
            class="text-sm font-medium text-gray-900 block mb-2"
            >heading3</label
          >
          {{form.heading3}}
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label
            for="category"
            class="text-sm font-medium text-gray-900 block mb-2"
            >category</label
          >
          {{form.category}}
        </div>
        <div class="col-span-full">
          <label
            for="Main Content"
            class="text-sm font-medium text-gray-900 block mb-2"
            >Main Content</label
          >
          {{form.content}}
        </div>
      </div>
      <div class="w-full flex mt-10">
        <div class="items-center justify-center max-w-xl mx-auto">
          <label
            class="flex justify-center w-full h-32 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none"
            id="drop"
          >
            <span class="flex items-center space-x-2">
              <i class="bx bx-upload text-xl text-gray-600 w-6 h-6"></i>
              <span class="font-medium text-gray-600"
                >Main image upload, or<span
                  class="text-blue-600 underline ml-[4px]"
                  >browse</span
                ></span
              >
            </span>
           {{form.main_image}}
          </label>
        </div>
        <div class="items-center justify-center max-w-xl mx-auto">
          <label
            class="flex justify-center w-full h-32 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none"
            id="drop"
          >
            <span class="flex items-center space-x-2">
              <i class="bx bx-upload text-xl text-gray-600 w-6 h-6"></i>
              <span class="font-medium text-gray-600"
                >Optional image upload, or<span
                  class="text-blue-600 underline ml-[4px]"
                  >browse</span
                ></span
              >
            </span>
           {{form.image}}
          </label>
        </div>
      </div>

      <div class="col-span-full mt-4">
        <label
          for="Main Content"
          class="text-sm font-medium text-gray-900 block mb-2"
          >Heading Two Content</label
        >
        {{form.heading2Content}}
      </div>


      <div class="col-span-full mt-4">
        <label
          for="Main Content"
          class="text-sm font-medium text-gray-900 block mb-2"
          >Heading Three Content</label
        >
        {{form.heading3Content}}
      </div>
      <div class="col-span-full mt-4">
        <label
          for="Main Content"
          class="text-sm font-medium text-gray-900 block mb-2"
          >One line Important Text</label
        >
        {{form.important}}
      </div>

      <div class="p-6 border-t border-gray-200 rounded-b">
        <button
          class="text-white bg-cyan-600 w-full hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          type="submit"
        >
          Save all
        </button>
      </div>
    </form>
  </div>

</div>

{% endblock %}
